<ion-view title="Ingreso">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <img src="img/AifDD7vpTaO3hsLLFkzP_logo_ims.png" width="70%" height="auto" style="width: 70%; height: auto;">
            <div class="spacer" style="width: 300px; height: 43px;"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Correo</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/inapp" class="button button-stable button-block  button-full">Ingresar</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-block ">Crear nuevo usuario</a>
        </form>
    </ion-content>
</ion-view>